<h1>Update Survivor</h1>

<h2>Edits for <%= @survivor.name %></h2>

  <form action="/survivors/<%= @survivor.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
   <br>
    <br>
    <p>Select Perks!</p>
    <h3>Perks</h3>
    <% @perks.each do |p| %>
    
    <input type="checkbox" name="survivor[perk_ids][]" id="<%= p.id %>" value="<%= p.id %>"><%= p.perk_name %> <br>
    <% end %>
    <br>

    

    <input type="submit" value="Update survivor">
  </form> 