<nav class="navbar navbar-dark navbar-expand bg-dark col-6">
        <a class="navbar-brand" href="#">
            <img src="https://ih1.redbubble.net/image.3745834066.5489/st,small,507x507-pad,600x600,f8f8f8.jpg" width="60" height="50" alt="dbd">
        </a>
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class= "nav-link" href='/'>Home</a>
        </li>
        <li class="nav-item">
            <a class= "nav-link" href="/killers">Killers List</a>
        </li>
        <li class="nav-item">
            <a class= "nav-link" href="/survivors">Survivors List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href = "/logout">Log out</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href='/users/<%= @user.id %>'>Return to User Homepage</a>
        </li>
    </ul>   
</nav>
<div class="container">
    <h1>Choose a new Survivor</h1>

    <div class="row">
        <div class="col">
            <form action="/survivors" method="POST">
            <label>Survivor Name:</label>

            <% @survivors.each do |s| %>
                <input type="radio" name="survivor[survivor_id"] id="<%= s.id %>" value="<%= s.id %>"><%= s.name %><br>
                <% end %>

        </div>
        <div class="col">
            <h3>Select Perks</h3>
            <% @perks.each do |p| %>
            
                <input type="checkbox" name="survivor[perk_ids][]" id="<%= p.id %>" value="<%= p.id %>"><%= p.perk_name %><br>
                <% end %>
        </div>
    <div>

            <input type="submit" value="Create Survivor">
        </form>
    </div>
