<a href = '/'>Home</a><br><br>
<% if Helpers.logged_in?(session) %>
<nav>
<a href = "/logout">Log out</a>
<a href='/users/<%= @user.id %>'>Return to User Homepage</a><br><br>
</nav>

<h1>Choose a new Survivor</h1>

<form action="/survivors" method="POST">
<label>Survivor Name:</label>
<br>

<% @survivors.each do |s| %>
    <input type="radio" name="survivor[survivor_id"] id="<%= s.id %>" value="<%= s.id %>"><%= s.name %><br>
    <% end %>

    <br>

    <h3>Select Perks</h3>
    <% @perks.each do |p| %>
    
        <input type="checkbox" name="survivor[perk_ids][]" id="<%= p.id %>" value="<%= p.id %>"><%= p.perk_name %><br>
        <% end %>
        <br>

        <input type="submit" value="Create Survivor">
        </form>
<%end%>