<h1><%= @survivor.name %></h1>

<h2>Role: <%= @survivor.role %></h2>
<p>Overview: <br><%= @survivor.overview %></p> 
<p>Lore: <br><%= @survivor.lore %></p> 
<h3>Difficulty: <%= @survivor.difficulty %></h3>
<h3>DLC: <%= @survivor.dlc %>
<h3>Base Perks: <%= @survivor.survivor_base_perks %></h3>