<% if Helpers.logged_in?(session) %>
<div class="container-fluid">
    <nav class="navbar navbar-dark navbar-expand bg-dark">
            <a class="navbar-brand" href="#">
                <img src="https://ih1.redbubble.net/image.3745834066.5489/st,small,507x507-pad,600x600,f8f8f8.jpg" width="60" height="50" alt="dbd">
            </a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class= "nav-link" href='/'>Home</a>
            </li>
            <li class="nav-item">
                <a class= "nav-link" href="/killers">Killers List</a>
            </li>
            <li class="nav-item">
                <a class= "nav-link" href="/survivors">Survivors List</a>
            </li>
            <li class="nav-item">
                <a class= "nav-link" href='/killers/new'>Add Killers</a>
            </li>
            <li class="nav-item">
                <a class= "nav-link" href='/survivors/new'>Add Survivors</a>
            </li>
            <li class="nav-item">
                <a class= "nav-link" href='/users/<%= @user.id %>/edit'>Change username</a>
            </li>
        </ul>   
        <button class="btn btn-light">
            <a href = "/logout">Log out</a>
        </button>
    </nav>

<h1> <%= @currency.currency_name.capitalize %> </h1>
<h2> Amount: <%= @currency.amount %></h2>



<form action = '/currencies/<%= @currency.id %>' method = "post">
<input type = "hidden" name = "_method" value = "delete">
<button class="btn btn-danger">Delete Currency</button>
</form>

<button class="btn btn-primary">
<a href='/currencies/<%= @currency.id %>/edit'>Edit Currency</a> <br>
</button>

<%end%>