<h1>Update Killer</h1>

<h2>Edits for <%= @killer.name %></h2>

  <form action="/killers/<%= @killer.id %>/edit" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
   <br>

    <p>Select Perks!</p>
    <h3>Perks</h3>
    <% @perks.each do |p| %>
    
    <input type="checkbox" name="killer[perk_ids][]" id="<%= p.id %>" value="<%= p.id %>"><%= p.perk_name %> <br>
    <% end %>
    <br>

    <input type="submit" value="Update killer">
  </form> 

  