<nav class="navbar navbar-black">
    <a class="navbar-brand" href="#"><img src="https://ih1.redbubble.net/image.3745834066.5489/st,small,507x507-pad,600x600,f8f8f8.jpg" width="60" height="50" alt="dbd"></a>
    <a class= "navlink" href='/'>Home</a>
    <a class= "navlink" href="/killers">Killers List</a>
    <a class= "navlink" href="/survivors">Survivors List</a>
</nav>
<% @killers.each do |k| %>
    <div class= "card col-4">
    <h3> <a href="/killers/<%= k.id %>" class="card-header"><%= k.name %></a></h3>
        <h4><%=k.power%></h4>
        # <p class="badge"><%=k.difficulty%><p>
        <p><%=k.difficulty%><p>

</div>
<% end %>