<a href = '/'>Home</a><br><br>
<% if Helpers.logged_in?(session) %>
<nav>
<a href = "/logout">Log out</a>
<a href='/users/<%= @user.id %>'>Return to User Homepage</a><br><br>
</nav>
<h1>Choose a New Killer</h1>

<form action="/killers" method="POST">
  <label>Killer Name:</label>
  <br>
  
   <% @killers.each do |k| %>
    <input type="radio" name="killer[killer_id]" id="<%= k.id %>" value="<%= k.id %>"><%= k.name %><br>
  <% end %>

  <br>
  
  <h3>Select Your Perks</h3>
  <% @perks.each do |p| %>
    <input type="checkbox" name="killer[perk_ids][]" id="<%= p.id %>" value="<%= p.id %>"><%= p.perk_name %><br>
  <% end %>
  <br>

  <input type="submit" value="Create killer">
</form>
<%end%>