<nav class="navbar navbar-dark navbar-expand bg-dark col-6">
        <a class="navbar-brand" href="#">
            <img src="https://ih1.redbubble.net/image.3745834066.5489/st,small,507x507-pad,600x600,f8f8f8.jpg" width="60" height="50" alt="dbd">
        </a>
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class= "nav-link" href='/'>Home</a>
        </li>
        <li class="nav-item">
            <a class= "nav-link" href="/killers">Killers List</a>
        </li>
        <li class="nav-item">
            <a class= "nav-link" href="/survivors">Survivors List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href = "/logout">Log out</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href='/users/<%= @user.id %>'>Return to User Homepage</a>
        </li>
    </ul>   
    </div>
    </nav>
<h1>Choose a New Killer</h1>

<form action="/killers" method="POST">
  <label>Killer Name:</label>
  <br>
  
    <% @killers.each do |k| %>
      <input type="radio" name="killer[killer_id]" id="<%= k.id %>" value="<%= k.id %>"><%= k.name %><br>
    <% end %>

  <br>
  
    <h3>Select Your Perks</h3>
      <% @perks.each do |p| %>
        <input type="checkbox" name="killer[perk_ids][]" id="<%= p.id %>" value="<%= p.id %>"><%= p.perk_name %><br>
      <% end %>
      <br>
        <input type="submit" value="Create killer">
</form>
