<% if Helpers.logged_in?(session) %>
    <h1>Welcome <%= Helpers.current_user(session).username %></h1>
<a href='/killers/<%= @killer.id %>/edit'>Edit</a><br>
<a href='/users/<%= @user.id %>'>Return to User Homepage</a><br>

<% @killerperks.each do |kp| %>
         
         <h3><a href='/perks/<%= kp.perk_id %>'><%= Perk.find_by_id(kp.perk_id).perk_name %></h3></a>
         
         <% end %>
<% end %>

<h1><%= @killer.name %></h1>

<h3>Realm: <%= @killer.realm %></h3>
<h3>Power: <%= @killer.power %></h3>
<h3>Weapon: <%= @killer.weapon %></h3>
<h3>Speed: <%= @killer.speed %></h3>
<h3>Terror Radius: <%= @killer.terror_radius %></h3>
<h3>Height: <%= @killer.height %></h3>
<p>Overview: <br><%= @killer.overview %></p> 
<p>Lore: <br><%= @killer.lore %></p> 
<h3>Difficulty: <%= @killer.difficulty %></h3>
<h3>DLC: <%= @killer.dlc %>

